<h1><%= @user.username %>'s Profile</h1>


<%= current_user.distance_to(@user).round(2) %><br /><br /> <!-- .round(2) rounds up to two places past the decimal-->

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
